{% extends 'base.html' %}
{% block head %} Todo App {% endblock  head %}


{% block body %}

<div class="row">
    <div class="col-md-6 col-sm-12 mx-auto">
        <div class="card card-body">
            <form action="" method="POST" autocomplete="off">
                <div class="form-group">
                    <input type="text" class="form-control" name="title", id="title" placeholder="Add item..." required>
                    <input type="submit", value="Add Item" class="form-control mt-2 btn btn-dark">
                </div>        
            </form>
            {% for todo in todos %}

                <ul class="list-group">
                    <li class="d-flex justify-content-between list-group-item shadow-none">
                        <h6>
                            {{todo.title}}
                        </h6>
                        <span>
                            <a href="{{ url_for('update', id=todo.id) }}" class="btn btn-sm btn-outline-dark">Update</a>
                            <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-sm btn-outline-dark">Delete</a>
                        </span>
                    </li>                      
                </ul>
            {% endfor %}
            
        </div>
    </div>
</div>
{% endblock body %}
