{% extends 'base.html' %}

{% block head %} Update Todo Item {% endblock  head %}

{% block body %} 

<div class="row">
    <div class="card mx-auto">
        <div class="card-body">
            <form action="/update/{{todo.id}}" method="POST" autocomplete="off">
                <input type="text", name="title", id="title", value="{{todo.title}}" class="">
                <input type="submit", value="Update" class="btn btn-sm btn-info">
            </form>
        </div>
    </div>
</div>
    
{% endblock %}
